
body {}
#wrapper {position: fixed; height: 100%; width: 100%; overflow: auto;}
.basic_block { position: absolute; background: green; }
.xwall { position: absolute; background: grey; z-index: 100; }
.ywall { position: absolute; background: grey; z-index: 100;}
.player_block { position: absolute; background: blue;z-index: 90; }
.solution_marker {position: absolute; background: red; z-index: 80;}
/*
.wall { position: absolute; background: grey;z-index: 100;}
.open { position: absolute; background: green; }
.wallx { position: absolute; background: grey; height: 2px; width: 10px; z-index: 100;}
.wally { position: absolute; background: grey; height: 10px; width: 2px; z-index: 100;}
*/
